<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>My Resume</h2>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Summary</h3>
        <div class="resume-item pb-0">
  
          <p><em>Computer Science Engineer, Full Stack Developer. Have
            experience in developing robust business level code,
            Design & Development of Mobile Apps and Websites,
            back-end systems for enterprise, etc.</em></p>
          
        </div>

        <h3 class="resume-title">Education</h3>
       
        <div class="resume-item">
          <h4>Bachelor of technology: Computer Science and Engineering</h4>
          <h5>2015 - 2029</h5>
          <p><em>College Of Engineering Roorkee, Uttarakhand</em></p>
        </div>
         <div class="resume-item">
          <h4>HSE (12th), CBSE </h4>
          <h5>2013 - 2014</h5>
          <p><em>Kendriya Vidyalaya</em></p>
          <p>I've completed my 12th with overall 80.66% </p>
        </div>
        <div class="resume-item">
          <h4>SSE (10th), CBSE </h4>
          <h5>2011 - 2012</h5>
          <p><em>Kendriya Vidyalaya</em></p>
          <p>I've completed my 10th with CGPA - 8.8 </p>
        </div>
        
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Work Experience</h3>
          <div class="resume-item">
          <h4>Developer : Tata Consultancy Services</h4>
          <h5>June'2019 - Present </h5>
          <p><em>Bengaluru, Karnataka</em></p>
          <p>
          <ul>

            <li>Designed & developed the back-end systems, microservices
              by writing production level code for end to end
              development of products. </li>
            <li>Developed RESTful APIs with JWT authentication for
              TRAI's new Channel Selector App. (Got a TCS <u>On The
              Spot Award</u> for this)</li>
            <li>Created a CR Management Tool for team. (Got another TCS <u>On
              The Spot Award</u> for this)</li>
            <li>Working along with the team during entire Product Development Lifecycle.</li>
           
          </ul>
          
        </div>
        <div class="resume-item">
          <h4>Android Developer : TexoPanda LLP</h4>
          <h5>July'2018 - Aug'2018 </h5>
          <p><em>Online </em></p>
          <p>
          <ul>

            <li>Created an Event Management App from scratch
              during this Android Development Internship , worked
              on UI/UX in Android Studio and back-end using Google
              Firebase.</li>
           
          </ul>
          
        </div>        
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
      <h3 class="resume-title">Skills</h3>
      </div>
    </div>

  </div>
</section>

<section id="skills" class="skills-me">
    <div class="skills">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>
          <img class="ui avatar image" src="assets/img/java.png">
          </td>
          <td>
          <div class="content">
            <div class="header">Java</div>
            <div class="description">Core, Advanced, Spring MVC, Hibernate, RESTful Web Services, JBoss Application Server, JSP,<br /> JWT Authentication, etc.</div>
          </div>
          </td>
          </tr>
          <tr>
            <td>
          <img class="ui avatar image" src="assets/img/android.png">
          </td>
          <td>
          <div class="content">
            <div class="header">Android Development</div>
            <div class="description">Have plenty of experience in developing Fully Function Android applications from scratch, deploying<br /> on Google Play Store. Along with Google Firebase connectivity.</div>
          </div>
          </td>
          </tr>
          <tr>
            <td>
          <img class="ui avatar image" src="assets/img/angular.png">
          </td>
          <td>
          <div class="content">
            <div class="header">Angular</div>
            <div class="description">Have experience in creating Angular Projects, this site itself is one of them.</div>
          </div>
          </td>
          </tr>
          <tr>
            <td>
          <img class="ui avatar image" src="assets/img/react.png">
          </td>
          <td>
          <div class="content">
            <div class="header">React</div>
            <div class="description">Have recently developed some interest in React, so currently spending time learning its nuts and bolts. </div>
          </div>
          </td>
          </tr>
          <tr>
          <td>
            <img class="ui avatar image" src="assets/img/web-development.png">
          </td>
          <td>
          <div class="content">
            <div class="header">Web Development</div>
            <div class="description">Have experience working with HTML, CSS, Bootstrap, Semantic UI, React.js, Angular, etc.</div>
          </div>
          </td>
          </tr>
          <tr>
            <td>
          <img class="ui avatar image" src="assets/img/sql.png">
          </td>
          <td>
          <div class="content">
            <div class="header">Database</div>
            <div class="description">Oracle SQL, MySQL, NoSQL.</div>
          </div>
          </td>
          </tr>
          <tr>
            <td>
            <img class="ui avatar image" src="assets/img/kali.png">
            </td>
            <td>
            <div class="content">
                <div class="header">Kali Linux</div>
              <div class="description">Have worked on Kali Linux while learning Cyber Security & Ethical Hacking.</div>
            </div>
            </td>
          </tr>
      </tbody>
      </table>
  </div>
</section>

<section id="certifications" class="certifications">
  <div class="row">
    <div class="col-lg-12">
    <h3 class="resume-title">Certifications</h3>
    </div>
  </div>

  <div class="certificates">
    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
          <h4><a routerLink="/resume">TCS On The Spot</a></h4>
          <p>Got the TCS On the Spot Award in two quarters back to back.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
            <div class="icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
          <h4><a routerLink="/resume">Andriod Developer Intern</a></h4>
          <p>Worked as an Android Development intern in TexoPanda LLP.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
          <h4><a routerLink="/resume">Java</a></h4>
          <p>Certified Java Developer. Learning and Implementing Java concepts since 2016.</p>
        </div>
      </div>
        
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
          <h4><a routerLink="/resume">Complete Android Developer</a></h4>
          <p>Complete Android Development, learning certificate from Udemy.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
          <h4><a routerLink="/resume">React.js Developer</a></h4>
          <p>React Development essential training, complete learning path certificates from Linkedin Learning.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
          <h4><a routerLink="/resume">AWS For Developers</a></h4>
          <p>Amazon Web Services(AWS) for Developers, learning certificate from Linkedin Learning.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-certificate" aria-hidden="true"></i></div>
          <h4><a routerLink="/resume">Kubernetes For Java Developers</a></h4>
          <p>Kubernetes and Docker essential training for Java Developers, certificate from Linkedin Learning.</p>
        </div>
      </div>
      
    </div>
  </div>
</section>