<section id="contacts" class="contacts">
    <div class="contact">      
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></div>
              <h5><a routerLink="/contact">91-7017466439</a></h5>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-keyboard-o fa-2x" aria-hidden="true"></i></div>
              <h5>My Coding Profiles :</h5>
              <h6><a href="https://www.codechef.com/users/nex_" target="_blank"><u>Codechef</u></a> , <a href="https://www.hackerrank.com/Mr_Nex" target="_blank"><u>Hackerrank</u></a></h6>
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
                <div class="icon"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></div>
              <h5><a href="https://www.linkedin.com/in/Mr-Nex" target="_blank" class="item"><div class="description">My Linkedin Profile</div></a></h5>
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-github fa-2x" aria-hidden="true"></i></div>
              <h5><a href="https://github.com/Mr-Nex" target="_blank" class="item"><div class="description">My GitHub Profile</div></a></h5>             
            </div>
          </div>
            
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></div>
              <h5><a href="mailto:nitink386@gmail.com?subject=Saw Your Portfolio" class="item"><div class="description">E-Mail</div></a></h5>             
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-android fa-2x" aria-hidden="true"></i></div>
              <h5><a href="https://play.google.com/store/apps/dev?id=8644573159315796459" target="_blank" class="item"><div class="description">My Google Play Dev Profile</div></a></h5>
            </div>
          </div>          
        </div>    
      </div>
    </section>