<section id="about" class="about-me">
    <img id="dp" src="assets/img/me.jpg">
    <p>
        I'm a Computer Science Engineer, Full Stack Developer, Competitive Programming enthusiast.<br />
        Have experience in developing robust business level
        code, design & development of<br />
        back-end systems for enterprise, working with Spring MVC, Hibernate, RESTful Web Services, etc.<br /><br />

        Also have experience in design & development of Mobile Apps and Websites from scratch.<br /> <br />       
        Passionate about creating great UI/UX in Mobile & Web Apps, interested in Cyber Security & Ethical Hacking.<br /><br />

        Currently working as a Full Stack Developer, but actively looking for better, more interesting,<br />
        more challenging opportunities in Mobile, Web, Full Stack, Product development roles.
    </p>
    <div class="myLinks">
        <a href="https://www.linkedin.com/in/Mr-Nex" target="_blank" class="item"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        <a href="https://github.com/Mr-Nex" target="_blank" class="item"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="mailto:nitink386@gmail.com?subject=Saw Your Portfolio" class="item"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
        <a href="https://play.google.com/store/apps/dev?id=8644573159315796459" target="_blank" class="item"><i class="fa fa-android fa-2x" aria-hidden="true"></i></a>   
        <div id="coding">
            <a href="https://www.codechef.com/users/nex_" target="_blank" class="item"><img src="assets/img/chef.png" style="height: 50px; width: 50px;"></a>
            <a href="https://www.hackerrank.com/Mr_Nex" target="_blank" class="item"><img src="assets/img/Hrank.png" style="height: 50px; width: 50px;"></a>
        </div>
    </div> 
</section>